# Direnv (https://direnv.net/) automatically executes .envrc files.
# It's useful to automate context-setting.

echo "setting up virtual env"

# looks at recursively higher directories and runs any .envrc files found
# source_up

poetry install --sync
source $(poetry env info -p)/bin/activate
